<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/7a47e06a8a.js" crossorigin="anonymous"></script>
   
    <title>{{nombrePagina}}</title>
</head>
<body>
  <div>
    <header class="row">
    <div>
      <a href="/home" class="brand">WherEX Shop</a>
    </div>
    <div>
      <a href="/cart">Carrito</a>
      <a href="/login">Iniciar Sesion</a>
    </div>
    </header>
  </div>

    {{{ body }}}
    <footer class=" row center">
      Todos los derechos reservados ® Williams Hernandez - {{year}}
    </footer>
</body>
</html>