<main class="grid-container">
  <div class="row center">
    <div class="card">
      <a href="/product">
        <img src="/img/p1.jpg" alt="product">
      </a>
      <div class="card-body">
<a href="/product"><h2>Nike Slim Shirts</h2></a>
<div class="rating">
<span><i class="fa fa star"></i></span>
<span><i class="fa fa star"></i></span>
<span><i class="fa fa star"></i></span>
<span><i class="fa fa star"></i></span>
<span><i class="fa fa star"></i></span>
</div>
<div class="price">$120</div>
      </div>
    </div>
  </div>
</main>